# Project Documentation Rules and Instructions

# Project Information

site_name: {{cookiecutter.repo_name}}
site_description: {{cookiecutter.description}}
site_url: https://{{cookiecutter.github_user}}.github.io/{{cookiecutter.repo_name}}
repo_name: {{cookiecutter.github_user}}/{{cookiecutter.repo_name}}
repo_url: https://github.com/{{cookiecutter.github_user}}/{{cookiecutter.repo_name}}
watch: [
  mkdocs.yml,
  README.md,
  CONTRIBUTING.md,
  CHANGELOG.md,
  src/{{cookiecutter.repo_name}}]
copyright: Copyright, {% now 'local', '%Y' %} {{cookiecutter.author_name}}
docs_dir: docs

# Documentation Structure

nav:
- Home:
  - Overview: index.md
  - Changelog: changelog.md
  - Credits: credits.md
  - License: license.md
- User Guide:
  - Tutorial: tutorial.md
  - Advanced User Guide: advanced.md
  - Recipes: recipes.md
- API: reference/
- Development:
  - Contributing: contributing.md
  - Code of Conduct: code_of_conduct.md
  # - Coverage Report: coverage.md

# Documentation Appearance

theme:
  name: material
  locale: en
  icon:
    repo: fontawesome/brands/github
  features:
  - announce.dismiss
  - content.action.edit
  - content.action.view
  - content.code.annotate
  - content.code.copy
  - content.tooltips
  - navigation.footer
  - navigation.indexes
  - navigation.path
  - navigation.sections
  - navigation.tabs
  - navigation.tabs.sticky
  - navigation.top
  - navigation.tracking
  - search.highlight
  - search.suggest
  - toc.follow
  palette:
  - media: "(prefers-color-scheme)"
    toggle:
      icon: material/brightness-auto
      name: Switch to light mode
  - media: "(prefers-color-scheme: light)"
    scheme: default
    primary: teal
    accent: purple
    toggle:
      icon: material/weather-sunny
      name: Switch to dark mode
  - media: "(prefers-color-scheme: dark)"
    scheme: slate
    primary: black
    accent: lime
    toggle:
      icon: material/weather-night
      name: Switch to system preference

# Extras, Extensions, and Plugins

extra_css:
- css/material.css
- css/mkdocstrings.css

markdown_extensions:
- attr_list
- admonition
- callouts
- codehilite
- footnotes
- md_in_html
- pymdownx.emoji:
    emoji_index: !!python/name:materialx.emoji.twemoji
    emoji_generator: !!python/name:materialx.emoji.to_svg
- pymdownx.magiclink
- pymdownx.mark
- pymdownx.smartsymbols
- pymdownx.snippets:
    check_paths: true
- pymdownx.superfences:
    custom_fences:
      - name: mermaid
        class: mermaid
        format: !!python/name:pymdownx.superfences.fence_code_format
- pymdownx.tasklist:
    custom_checkbox: true
- sane_lists
- toc:
    permalink: true

plugins:
- autorefs
# - coverage:
#     page_name: coverage
#     html_report_dir: htmlcov
- gen-files:
    scripts:
    - docs/scripts/gen_ref_nav.py
- literate-nav:
    nav_file: SUMMARY.md
- markdown-exec:
- minify:
    minify_html: !ENV [DEPLOY, false]
- mkdocstrings:
    handlers:
      python:
        import:
        - https://docs.python.org/3/objects.inv
        options:
          docstring_section_style: table
          filters:
            - "!^__"
          heading_level: 1
          # members_order: alphabetical
          merge_init_into_class: true
          separate_signature: false
          show_signature_annotations: false
- search:

extra:
  social:
  - icon: fontawesome/brands/github
    link: https://github.com/{{cookiecutter.github_user}}
  - icon: fontawesome/brands/python
    link: https://pypi.org/project/{{cookiecutter.repo_name}}/
